@* 
 This partial controls the top menu of the AdminLTE Template, being called automatically by _AdminLteLayout
    TODO: All of the content in here is stand-in that must be replaced by the real behavior of your app
*@

@{
    ViewBag.Layout = null;
}
<script src="~/Scripts/App/app.js"></script>
<header class="main-header">
    <!-- Logo -->
    <a href="/SecurityModule/Account/Dashboard" class="logo"><b>E-</b>DMS</a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
            
                <li class="dropdown user user-menu">
                    @if(User.Identity.IsAuthenticated)
                    {                   
                        
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/Content/AdminLTE/img/user2-160x160.jpg" class="user-image" alt="User Image" />
                            <span class="hidden-xs">@User.Identity.Name</span>
                        </a>
                        <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="/Content/AdminLTE/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                            <label>Hi, @if(@Session["User"] !=null){@Session["User"].ToString()} </label> !!
                            <p>
                                <label>
                                    Welcome to - SQUARE GROUP E-DMS
                                </label>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="col-xs-4 text-center">
                                <a href="#">Profile</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="/SecurityModule/User/ChangePassword">Change Password</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">News</a>
                            </div>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                @*<a href="#" class="btn btn-default btn-flat">Profile</a>*@
                            </div>
                            <div class="pull-right">
                                <a href="/SecurityModule/Account/Logout" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                    }
                </li>
            </ul>
        </div>
    </nav>
</header>


