.form-control {
        height: 32px;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 2px solid #eee;
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 0;
    background: #367FA9;
    color: white;
    text-align:center;
}

.content-header {
    padding: 10px 15px 10px 30px;
}
.content-header>.breadcrumb {
    top: 10px;
        right: 30px;
}
.modal.in .modal-dialog {
    width: 85%;
}

span.dynatree-node a {
    font-size: 11pt !important;  
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}
  .datepicker {
                z-index: 1151 !important;
            }
    
   .skin-blue .sidebar-menu > li > a:hover, .skin-blue .sidebar-menu > li.active > a {
                color: #fff;
                background: #1e282c !important;
                border-left-color: #1e282c;
            }
.box-header.with-border {
    border-bottom: 1px solid #eee;
     padding-bottom:18px;
}
 .box-footer { 
    border-top: 1px solid #eee;
}
 .form-group {
    margin-bottom: 8px;
}
 .form-control {
    height: 32px;
}

 .nav>li>a {
    padding: 25px 15px;
}

/*.main-sidebar, .left-side {
  width: 235px; 
}*/

.skin-blue .treeview-menu > li > a {
    color: white;
}
.skin-blue .treeview-menu > li > a:hover, a:active, a:focus {
       /*outline: none;
    text-decoration: none;*/
    color: lightblue;
}
 /*#8aa4af*/
/*.content-wrapper, .right-side, .main-footer {
    margin-left: 234px;
}*/
.ds-dwt-container-box {
   position: absolute; width: 100%;
}
.btnc1 {
    background-color:lightgoldenrodyellow;
}
.btnc2 {
    background-color:lightcyan;
}
.btnc3 {
    background-color:linen;
}

.loder {
  
    position: absolute;
    top: 50%;
    left: 40%;  
    color: #000;
    font-size: 30px;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
.pagination {
        margin: 5px 0 0px 0px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    line-height: 1.828571; 
}

.skin-blue .sidebar-menu>li.header {
    color: cornsilk;
    font-weight: bold;
}

.tooltip {
    z-index: 9000 !important;
}